{% extends 'core/base.html' %}
{% load static %} 

{% block title %}Productos - Cinemark{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'productos/confiteria.css' %}">
{% endblock %}

{% block content %}
<main>
    <h2 class="titulo">Menú de Confitería</h2>
    
    {% regroup productos by categoria as productos_por_categoria %}

    {% for group in productos_por_categoria %}
    <section class="categoria">
        <h3>{{ group.grouper|lower|capfirst }}</h3>
        
        <div class="productos">
        {% for producto in group.list %}
            <div class="item">
                <img src="{{ producto.imagen.url}}" alt="{{ producto.nombre }}">
                <p>{{ producto.nombre }}</p>
                <span>Precio: S/. {{ producto.precio }}</span>
            </div>
        {% empty %}
            <p>No hay productos disponibles en esta categoría.</p>
        {% endfor %}
        </div>
    </section>
    {% endfor %}
    
    </main>
{% endblock %}