{% extends 'core/base.html' %}
{% load static %} 

{% block title %}Inicio - Cinemark{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'administrator/admin_productos.css' %}">
{% endblock %}

{% block content %}
    <div class="centro">
    <h2 class="titulo"> Gestion de productos</h2>
    <div class="form-container">
        <form id="productForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre del Producto:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="descricion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" required></textarea>
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="text" id="precio" name="precio" required>
            </div>
            <div class="form-group">
                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" name="imagen" required>
            </div>
            <div class="from-group">
                <label for="categoria">categoria</label>
                <select id="categoria" name="categoria" required>
                    <option value="">Seleccione la categoria</option>
                    <option value="COMBO">Combo</option>
                    <option value="POPCORN">Popcorn</option>
                    <option value="BEBIDA">Bebida</option>
                    <option value="SNACK">Snack</option>
                    <option value="COLECCIONABLES">Coleccionable</option>
                </select>
            </div>
            <button type="submit" class="btn-action">Agregar Producto</button>
            {% if error %}
            <p style="color: red; margin-top: 10px;">{{ error }}</p>
            {% endif %}
        </form>
    </div>
    <div class="products-list">
    <h2>Lista de Productos</h2>
    <div id="productsContainer">
      {% for producto in productos %}
        <div class="promotion-item">
          <span class="product-info">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="product-image">
            {{ producto.nombre }} ({{ producto.get_categoria_display }}) - S/.{{ producto.precio }}
          </span>
          <div class="actions">
            <a href="{% url 'administrator:admin_producto_editar' producto.id %}" class="btn-edit">Editar</a>
            <form action="{% url 'administrator:admin_producto_eliminar' producto.id %}" method="POST" style="display: inline;" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este producto?');">
                {% csrf_token %}
                <button type="submit" class="btn-delete">Eliminar</button>
            </form>
        </div>
        </div>
      {% empty %}
        <p>No hay productos registrados todavía.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}