{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Administración</title>
  <link rel="stylesheet" href="{% static 'core\admin.css' %}">
</head>
<body>
  <header>
    <h1>Panel de Administración Cinemark</h1>
  </header>

  <main>
    <section class="acciones">
      <h2>Gestión de Contenido</h2>
      <div class="botones">
        <a href="productos.html">Registrar producto o contenido</a>
        <a href="#">Modificar producto o contenido</a>
        <a href="#">Actualizar sliders/banner</a>
        <a href="anuncios.html">Crear o editar anuncios informativos</a>
      </div>
    </section>
  </main>

  <footer>
    <p>© 2025 Cinemark. Panel de administración.</p>
  </footer>
</body>
</html>

