{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Administración</title>
  <link rel="stylesheet" href="{% static 'core/admin.css' %}">
</head>
<body>
  <header>
    <h1>Panel de Administración Cinemark</h1>
  </header>

  <main>
    <section class="acciones">
      <h2>Gestión de Contenido</h2>
      <div class="botones">
        <a href="{% url 'admin_productos' %}">Administrar Productos</a>
        <a href="{% url 'admin_peliculas' %}">Administrar Peliculas</a>
        <a href="#">Gestionar sliders/banners</a>
        <a href="{% url 'admin_anuncios' %}">Administrar anuncios</a>
      </div>
    </section>
  </main>

  <footer>
    <p>© 2025 Cinemark. Panel de administración.</p>
  </footer>
</body>
</html>

