<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login </title>
  <link rel="stylesheet" href="{% static 'core/login.css' %}">
</head>
<body>
<div class="contenedor-login">
    <form id="formulario-login" method="POST" action="{% url 'core:login' %}">
    {% csrf_token %}
    <h2>Iniciar Sesion</h2>
    <input type="text" id="usuario" name="username" placeholder="Usuario" required>
    <input type="password" id="clave" name="password" placeholder="Contraseña" required>
    <button type="submit">Ingresar</button>
    <a class="btn-action" href="{% url 'core:registro' %}">Registrarse</a>
    </form>
    {% if error %}
    <p style="color: red;text-align: center;margin-top: 15px;">{{ error }}</p>
    {% endif %}
</div>

</body>
</html>