{% extends 'core/base.html' %}
{% load static %} 

{% block title %}Productos - Cinemark{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'core/confiteria.css' %}">
{% endblock %}

{% block content %}
<main>
        <h2 class="titulo">Menú de Confitería</h2>

        <section class="categoria">
            <h3>Canchita</h3>
            <div class="productos">
                <div class="item">
                    <img src="recursos/Canchita Mediana.jpeg" alt="Canchita pequeña">
                    <p>Canchita mediana</p>
                    <span>Precio: S/ 17.40</span>
                </div>
                <div class="item">
                    <img src="recursos/Canchita Grande.jpeg" alt="Canchita mediana">
                    <p>Canchita grande</p>
                    <span>Precio: S/ 19.90</span>
                </div>
                <div class="item">
                    <img src="recursos/Canchita Gigante.jpeg" alt="Canchita grande">
                    <p>Canchita gigante</p>
                    <span>Precio: S/ 24.90</span>
                </div>
            </div>
        </section>

        <section class="categoria">
            <h3>Bebidas</h3>
            <div class="productos">
                <div class="item">
                    <img src="recursos/Gaseosa pequeña.jpeg" alt="Gaseosa pequeña">
                    <p>Gaseosa pequeña</p>
                    <span>Precio: S/ 8.00</span>
                </div>
                <div class="item">
                    <img src="recursos/Gaseosa Mediana.jpeg" alt="Gaseosa mediana">
                    <p>Gaseosa mediana</p>
                    <span>Precio: S/ 11.40</span>
                </div>
                <div class="item">
                    <img src="recursos/Gaseosa Grande.jpeg" alt="Gaseosa grande">
                    <p>Gaseosa grande</p>
                    <span>Precio: S/ 13.10</span>
                </div>
            </div>
        </section>

        <section class="categoria">
            <h3>Snacks</h3>
            <div class="productos">
                <div class="item">
                    <img src="recursos/MM.jpeg" alt="M&M">
                    <p>M&M</p>
                    <span>Precio: S/ 5.00</span>
                </div>
                <div class="item">
                    <img src="recursos/Nachos con Queso.jpeg" alt="Nachos">
                    <p>Nachos con queso</p>
                    <span>Precio: S/ 7.00</span>
                </div>
                <div class="item">
                    <img src="recursos/Frankfurter.jpeg" alt="Hot dog">
                    <p>Frankfurter</p>
                    <span>Precio: S/ 9.00</span>
                </div>
            </div>
        </section>
    </main>
{% endblock %}