{% extends 'core/base.html' %}
{% load static %} 
{% block title %}Inicio - Cinemark{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'core/Sala.css' %}">
{% endblock %}

{% block content %}
<div class="main-content">
        <h2 class="section-title">Nuestras Salas</h2>
        <div class="salas-grid">
            {% for sala in salas %}
            <div class="sala-card">
                <div class="sala-header">
                    <h3>{{ sala.nombre }}</h3>
                </div>
                <div class="sala-body">
                    <img src="{{ sala.imagen.url }}" alt="{{ sala.nombre }}" class="sala-image-placeholder" style="background-color: #0d47a1;"> 
                    <div class="sala-info">
                        <p><strong>Descripción:</strong> {{ sala.descripcion }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No hay salas registradas todavía.</p>
            {% endfor %}
        </div>
</div>

{% endblock %}