{% extends 'core/base.html' %}
{% load static %} 

{% block title %}Películas - Cinemark{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'movies/cartelera.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h2 class="titulo">Películas en Cartelera</h2>
        <div class="cartelera-grid">
            
            {% for pelicula in peliculas %}
            <div class="pelicula">
                
                <img src="{{ pelicula.imagen.url }}" alt="{{ pelicula.nombre }}">
                
                <h3>{{ pelicula.nombre }}</h3>
                
                <p>Duración: {{ pelicula.get_duracion_formateada }}</p>
                
                <p class="sinopsis-corta">Sinopsis: {{ pelicula.sinopsis|truncatechars:150 }}</p>
                
                <p>Estreno: {{ pelicula.fecha_estreno|date:"d M Y" }}</p>
                
                <p>Restricción: <strong>{{ pelicula.get_restriccion_display }}</strong></p>
                
                
                <h3>Formatos Disponibles:</h3>
                <div class="lista-formatos">
                    {% for sala in pelicula.salas.all %}
                        <span class="etiqueta-sala">{{ sala.nombre }}</span>
                    {% empty %}
                        <span class="etiqueta-sala">N/A</span>
                    {% endfor %}
                </div>
                
                <h3>Géneros:</h3>
                <div class="lista-generos">
                    {% for genero in pelicula.generos.all %}
                        <span class="etiqueta-genero">{{ genero.nombre }}</span>
                    {% empty %}
                        <span class="etiqueta-genero">N/A</span>
                    {% endfor %}
                </div>

            </div>
            {% empty %}
            <p>No hay películas en cartelera por ahora.</p>
            {% endfor %}
        </div>
    </main>
{% endblock %}